<!-- 
    
/*

  File name : error.ejs
  Author's name :Vishwa Akhani
  StudentID :300913898
  App name :Favourite Book List App

*/

 -->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
